@use "mixin" as mix;

/*---------------------------------------
*   breake point
*---------------------------------------*/

// breake point

$x-large: 1200px; // デスクトップ
$large: 1024px; // ノートパソコン
$medium: 767px; // タブレット
$small: 575px; // スマホ大
$x-small: 480px; // スマホ小

// 最小幅 360pxまで考慮